html{
    background: rgb(255, 243, 210);
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

#Header,
#Footer {
    background: rgb(255, 179, 125);
    color: white;
    text-indent: 2%;
}


.page-title {
    color: whitesmoke;
    text-align: left;
    /* background: rgb(156, 67, 34); */
    width: fit-window;
    margin-top: 0%;
    margin-bottom: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p,
h4 {
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(94, 94, 94);
}

ol,
ul {
    padding-left: 15;
    padding-right: 5%;
}

p#page-description {
    margin: 0;
    text-indent: 0;
    background: rgb(83, 148, 83);
    color: white;
    padding: 2%;
}

body{
    margin:0;
    
}

h2 {
    text-indent: 2%;
}

a {
    text-decoration: none;
}


#footer-notes {
    
    text-indent: 2%;
}

.recipe-button {
    color: aliceblue;
    font-weight: bolder;
    font-size: large;
    /* box-shadow: 1px 1px ; */
    /* border: 3px outset #e8edb7; */
    block-size: 90px;
    
}
.recipe-button#roasted-veggies {
    background: url(./images/roasted_veggies.jpg) ;
    background-size: cover;

}
.recipe-button#patata-bravas
 {
    background: url(./images/patatas_bravas.jpg);
    background-size: cover;
}